<!doctype html>
<html lang="en">
<head>
    {block name="meta"}{/block}
    {block name="title"}{/block}
    {block name="style"}{/block}
</head>
<body>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        {block name="left_nav"}{/block}
        {block name="right_con"}{/block}
        {block name="right_sid"}{/block}
        {block name="chat"}{/block}
    </div>
    {block name="script"}{/block}
    {block name="js"}{/block}
</body>
</html>